<h1>Log In</h1>

<form action="<%=session_url%>" method="post">
    <%= auth_token %>
    <label>Email: 
        <input type="text" name="user[email]">
    </label>
    <br>
    <label>Password: 
        <input type="text" name="user[password]">
    </label>
    <br>
    <input type="submit" value="Log In">

    <% if flash.now[:errors]  %>
        <p><%= flash.now[:errors] %></p>
    <% end %>

</form>